* {
  margin: 0;
  padding: 0;
}

header {
  position: relative;
  background: url("car.jpg") center/cover;
  height: 300px;
}

div {
  height: 100px;
  overflow: scroll;
  position: absolute;
  /* Top Left
  top: 0; 
  left: 0;  

    Top Right
  top: 0;
  right: 0;


    Bottom left
  bottom: 0;
  left: 0;

    Bottom right
  bottom: 0; 
  right: 0; */

  /* Center */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  font-size: 110px;
}
